<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477774979151-7fbts4pp021gfu5ov5iijpmlp3s30ug0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477774979151-7fbts4pp021gfu5ov5iijpmlp3s30ug0</string>
	<key>API_KEY</key>
	<string>AIzaSyDbLdhdVzo_MoOmdPi0VFJffJXDJd2ReAo</string>
	<key>GCM_SENDER_ID</key>
	<string>477774979151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gglee.DogRun</string>
	<key>PROJECT_ID</key>
	<string>dogrun-4fef0</string>
	<key>STORAGE_BUCKET</key>
	<string>dogrun-4fef0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477774979151:ios:94014985eb66005384ca3a</string>
	<key>DATABASE_URL</key>
	<string>https://dogrun-4fef0-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>